@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    text-size-adjust: auto;
    background-color: #000;
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Render the `main` element consistently in IE.
 */

main {
    display: block;
}

body {
    width: 100%;
    min-height: 100vh;
    color: #fff;
    background-color: #000;
    line-height: 1.5;
    margin: 0;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.content {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    height: 100vh;

}

.content2 {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    height: 130vh;
}

.img-title {
    max-width: 660px;
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small-text {
    max-width: 660px;
    width: 80%;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.img-ganggang {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}


.social {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: .5rem;

}

.icon_social {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
}

a {
    background-color: transparent;
}

.content-flex {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    height: 100vh;
}

.left-side {
    text-align: center;
}

.h2-title {
    margin-bottom: 50px;
}

.font-bold {
    font-weight: bold;
}

.right-side {
    margin-left: 5%;
    max-width: 50%;
}

.text-centered {
    text-align: center;
    margin-bottom: 20px;
}

.bigger-text {
    font-size: 1.5rem;
}

.teamGrid {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    height: 120vh;
}

.top {
    position: absolute;
    top: 5%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom {
    position: absolute;
    top: 45%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pfp {
    max-height: 150px;
}

.teamTitle {
    position: absolute;
    top: 0%;
}

.teamTitle2 {
    position: absolute;
    top: 40%;
}

.teamTitle3 {
    position: absolute;
    top: 85%;
}

.square {
    margin: 25px;
}

.mintBtn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px rgb(255, 255, 255) solid;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px 30px;
    overflow: hidden;
    margin: 10px 0;
    position: absolute;
    top: 3%;
    left: 85%;
    font-family: 'Press Start 2P', cursive;
}


.ripple {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px rgb(255, 255, 255) solid;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px 30px;
    overflow: hidden;
    margin: 10px 0;
    position: absolute;
    bottom: 0%;
    font-family: 'Press Start 2P', cursive;
}

button:focus {
    outline: none;
}

button .circle {
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}

.nav-home {
    background-color: #fff;
    padding: 10px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: width 0.6s linear;
    overflow-x: hidden;
    z-index: 100;
    position: fixed;
    top: 3%;
}

.nav-about {
    background-color: #fff;
    padding: 20px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: width 0.6s linear;
    overflow-x: hidden;

    position: absolute;
    top: 3%;
}

nav.active {
    width: 450px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
}

nav.active ul {
    width: 100%;
}

nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
}

nav ul a {
    position: relative;
    color: #000;
    text-decoration: none;
    margin: 0 10px;
}

.icon {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
}

.icon:focus {
    outline: 0;
}

.icon .line {
    background-color: #000;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
}

.icon .line2 {
    top: auto;
    bottom: 10px;
}

nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
}

@media (max-width:800px) {

    .img-title {
        max-width: 660px;
        width: 80%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}